.dados__ingresso {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 32px;
}

.dados__titulo {
    color: var(--cinza-banner);
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.card__container {
    align-items: center;
    background: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
}

.card__cabecalho {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.qrcode {
    width: 248px;
    height: 190px;
    object-fit: contain;
    object-position: center;
}

.card__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.card__dados {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__nome {
    color: var(--cinza-banner);
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 8px;
}

.card__tipo, .card__setor, .card__data, .card__local {
    color: var(--cinza-banner);
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}

@media screen and (min-width: 768px) {
    .card__container {
        width: 80%;
    }
    .qrcode {
        width: 584px;
        height: 310px;
    }
}


@media screen and (min-width: 1440px) {
    .dados__ingresso {
        width: 792px;
        margin: 0 auto;
    }

    .card__container {
        width: 100%;
        align-items: start;
    }

    .card__conteudo {
        flex-direction: row;
        justify-content: start;
        gap: 48px;
    }

    .qrcode {
        width: 189px;
        height: 222px;
        object-fit: cover;
    }

    .card__dados {
        align-items: start;
        gap: 0px;
    }

    .card__nome {
        margin-bottom: 24px;
    }
}